.indicator {
     top: calc(50% - 20px);
     left: calc(50% - 20px);
     width: 10px;
     height: 10px;
     border-radius: 50%;
}
.indicator-offline {
     background-color: #ed0f0f;
     box-shadow: 0 0 5px 2px #e46969;
}
.indicator-online {
     background-color: #10a73d;
     box-shadow: 0 0 5px 2px #8ae694;
}
