.position-relative {
     position: relative;
     display: inline-block; /* Ensures overlay aligns with image */
}

.glass-effect-overlay {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #333; /* Adjust opacity for the glass effect */
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0; /* Initially hidden */
     transition: opacity 0.3s ease;
     border-radius: 50%;
     z-index: 1000;
     height: 30rem;
     width: 30rem;
     margin-top: 2rem;
}

.update-text {
     color: #fff;
     font-size: 3rem;
     font-weight: bold;
     z-index: 2000;
}

.position-relative:hover .glass-effect-overlay {
     opacity: 0.5; /* Show overlay on hover */
}
