body {
    background-color: #ffffff;
    
    display: flex;
    background-size: cover;
    background-position: center;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}


.registration-form {
    padding: 50px ;
    height: auto;
    width: 800px;
    margin: auto;
    
 
}

.registration-form form {
    background-color: #e8e5ea;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(232, 49, 49, 0.075);
}

.registration-form .form-icon {
    text-align: center;
    background-color: #ebe9ee;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item {
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
}


.registration-form .create-account {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #a343b6;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.registration-form .social-media {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    height: auto;
}

.registration-form .social-icons {
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.header-container {
    background-color: #a343b6;
    color: white;
}



.nav-link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: rgb(237, 129, 237);
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

@media (max-width: 576px) {
    .registration-form form {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px;
    border-radius: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #5691ff;
    color: white;
  
}

.error{
    color: red;
    margin-top: 0;
}